---
layout: layouts/minimal.pug
title: simka /// resume
---

article(class='flex flex-col print:grid sm:grid grid-cols-5 grid-rows-3-auto gap-4')
  header(class='col-span-2 row-span-1')
    h1(class='text-4xl font-black')
      a(class='no-underline' href=basics.website) #{basics.name}
    h2(class='text-xl font-bold') #{basics.label}
  section(class='col-span-3 row-span-1')
    h3(class='text-xl font-bold') Summary
    p(class='text-sm') #{basics.summary} 
  section(class='col-span-1 row-span-1 order-last sm:order-none print:order-none')
    h3(class='text-xl font-bold') Contact
    p(class='text-xs') #[a(href='mailto:' + basics.email) Email]
    p(class='text-xs') #[a(href=basics.website) Website]
    ul
      each profile in profiles
        li(class='text-xs')
          a(href=profile.url target='_blank' rel='noreferrer') #{profile.name}
    p(class='text-xs') #{location.city}, #{location.country}, #{location.timezone} 
  div(class='col-span-4 row-span-2')
    section(class='pb-4')
      h3(class='text-xl font-bold pb-2') Experience
      ul
        each job in work
          li(class='pb-4')
            h4(class='text-sm pb-2').
              #[strong #{job.position}] at #[a(href=job.website target='_blank' rel='noreferrer') #{job.company}] /// #{job.startDate} - #{job.endDate ? job.endDate : 'Now'}
            p(class='text-sm pb-2') #{job.summary}
            h5(class='text-sm') Highlights:
            ul(class='list-disc list-inside')
              each highlight in job.highlights
                li(class='text-sm') #{highlight}
    section
      h3(class='text-xl font-bold pb-2') Education
      ul
        each course in education
          li(class='pb-4')
            h4(class='text-sm').
              #[strong #{course.area}] at #{course.institution} /// #{course.startDate} - #{course.endDate ? course.endDate : 'Now'}
            if course.description
              p(class='text-sm') #{course.description}
  section(class='col-span-1 row-span-1')
    h3(class='text-xl font-bold') Skills
    ul(class='flex flex-wrap flex-row sm:flex-col print:flex-col')
      each skill in skills
        li(class='text-xs pr-1') #{skill}
